{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<nav class="navbar navbar-expand py-5">
        <div class="container">
            <a href="{% url 'recipe_app:recipes' %}" class="navbar-brand text-warning"><h1 class="display-5">FOODIFY</h1></a>
        </div>
    </nav>

    <div class="container">
        <h1>Sign Up</h1>
        <form action="{% url 'accounts:signup' %}" class="form-group" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {{ photo_upload_form }}
            <input type="submit" class="form-control btn btn-primary" value="Signup">
        </form>
    </div>
    
{% endblock %}