{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container text-center p-4">
    <h1 class="display-5 text-warning">About</h1>	
    <img src="{% static 'img/about.png' %}" alt="" class="about-img mt-3">
    <p class="lead mt-3">Developer: Cristian A. To-ong</p>
    <p class="lead">I'm a simple guy who spends in the computer for a long period of time,<br> 
        I just started learning Python and Django Web framework, I'm trying to build website applications<br>
        to practice what I have learned from online tutorials like Youtube, Udemy and etc..<br>
        I hope that I will be good at programming, I'm working my ass off everyday to study<br>
        and I hope all my hardwork will pay off. =D
    </p>
	</div>
{% endblock %}
